[submodule "lib/lvgl"]
	path = lib/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "components/lvgl"]
	path = components/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "components/lvgl_esp32_drivers"]
	path = components/lvgl_esp32_drivers
	url = https://github.com/lvgl/lvgl_esp32_drivers.git
[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf.git
